@(x: String)
@testVariable = {DbStub.x}
@layouts.html.timlayout("Delivery", "Order"){
    <form>
        <p><input name="chickendish" type="radio"> Chicken Dish
        <p><input name="chickendish" type="radio"> Beef Dish
        <p><input name="chickendish" type="radio"> Pork Dish
        <p><input name="chickendish" type="radio"> Vegetarian Dish
        <p><input name="chickendish" type="radio"> Chicken Soup
        <p><input name="chickendish" type="radio"> Beef Soup
        <p><input name="chickendish" type="radio"> Pork Soup
        <p><input name="chickendish" type="radio"> Vegetarian Soup
        <p><input name="chickendish" type="radio"> Chips
        <p><input name="chickendish" type="radio"> Salad
        <p><input name="chickendish" type="radio"> Ketchup
        <p><input name="chickendish" type="radio"> Mayo
        <p><input name="chickendish" type="radio"> BBQ Sauce

        <button> Submit </button>
    </form>
}
